@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	scroll-behavior: smooth;
	scrollbar-color: rgb(0, 0, 0, 0.3) white;
	scrollbar-width: 5pxs;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
	width: 3px;
}

*::-webkit-scrollbar-track {
	background: white;
}

*::-webkit-scrollbar-thumb {
	background-color: white;
	border-radius: 20px;
	border: 3px solid rgb(0, 0, 0, 0.3);
}

@layer base {
	@font-face {
		font-family: 'Josefin Sans';
		src: local('Josefin Sans'), url('/fonts/JosefinSans-Regular.woff2') format('woff2'),
			url('/fonts/JosefinSans-Regular.woff') format('woff');
		font-weight: normal;
	}
	@font-face {
		font-family: 'Josefin Sans';
		src: local('Josefin Sans Bold'), url('/fonts/JosefinSans-Bold.woff2') format('woff2'),
			url('/fonts/JosefinSans-Bold.woff') format('woff');
		font-weight: bold;
	}
	@font-face {
		font-family: 'Josefin Sans';
		src: local('Josefin Sans Light'), url('/fonts/JosefinSans-Light.woff2') format('woff2'),
			url('/fonts/JosefinSans-Light.woff') format('woff');
		font-weight: 300;
	}
	@font-face {
		font-family: 'Josefin Sans';
		src: local('Josefin Sans Italic'), url('/fonts/JosefinSans-Italic.woff2') format('woff2'),
			url('/fonts/JosefinSans-Italic.woff') format('woff');
		font-style: italic;
	}
	@font-face {
		font-family: 'Josefin Sans';
		src: local('Josefin Sans Light Italic'),
			url('/fonts/JosefinSans-LightItalic.woff2') format('woff2'),
			url('/fonts/JosefinSans-LightItalic.woff') format('woff');
		font-weight: 300;
		font-style: italic;
	}
}

li > a:hover {
	color: rgb(239 68 68 / 1);
}
